@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100svh;
    width: 100svw;
}

#game-area {
    position: relative;
    width: 100vw;
    height: calc(100% - 50px);
    background-color: #f0f0f0;  
    transition: 0.4s;
    overflow: hidden;
}

.lost-life {
    box-shadow: inset 0 0 20px 20px #ff000055;
    transition: 0.4s;
}

.decoy {
    position: absolute;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    scale: 1;
    opacity: 1;
    transition: 0.3s;
    animation-name: shrinkOutline;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    outline-style: solid;
    outline-color: #ff000055;
    user-select: none;
}

.decoy:hover {
    scale: 1.1;
}

.decoy:active {
    opacity: 0.5;
    transition: 0s;
}

.target {
    position: absolute;
    border-radius: 50%;
    background-color: blue;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    scale: 1;
    opacity: 1;
    transition: 0.3s;
    animation-name: shrinkOutline;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    outline-style: solid;
    outline-color: #0000ff55;
    font-family: "Inter", serif;
    user-select: none;
}

.target:hover {
    scale: 1.1;
}

.target:active {
    opacity: 0.5;
    transition: 0s;
}

#info {
    top: 10px;
    left: 10px;
    font-size: 18px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    top: 0;
    left: 0;
}

.fadeOut {
    transform: scale(0.9) !important;
    opacity: 0 !important;
    pointer-events: none !important;
    transition: 0.3s;
}

.fadeIn {
    scale: 1.5;
    opacity: 0;
    transition: 0.3s;
}

@keyframes shrinkOutline {
    from {
        outline-width: 20px;
    }
    to {
        outline-width: 0;
    }
}

.life {
    display: inline-block;
    font-size: 24px;
    margin-right: 5px;
}

.lost {
    opacity: 0.5;
}

#lives-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

#streak-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

#exit-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    position: absolute;
    left: 15px;
}

#exit {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

#exit:hover {
    scale: 1.1;
    transition: 0.3s;
}

#exit:active {
    scale: 1;
    opacity: 0.5;
    transition: 0s;
}

#exit-conf {
    position: fixed;
    top: 0;
    width: 100svw;
    height: 100svh;
    background-color: #00000022;
    backdrop-filter: blur(10px);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
}

.message-wrapper {
    padding: 40px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px #00000055;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.message-upper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.message-title {
    font-size: 20px;
    font-weight: bold;
}

.message {
    opacity: 0.5;
}

.message-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.message-button {
    padding: 10px 20px;
    background-color: #d4d4d4;
    border-radius: 10px;
    user-select: none;
    transition: 0.3s;
    cursor: pointer;
}

.yes-button {
    background-color: #4363FF;
    color: #fff;
}

.message-button:hover {
    scale: 1.1;
    transition: 0.3s;
}

/* fix this */

#main-menu {
    background-color: #4363FF;
    transition: 0.3s;
    scale: 1.1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: calc(100% - 38px);
    box-sizing: border-box;
}

.main-menu-section {
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    height: 100%;
    width: 10%;
    box-sizing: border-box;
}